Options -MultiViews
Options -Indexes
# disable detection of directories
DirectorySlash Off

RewriteEngine On
# assets can be loaded
RewriteRule ^assets/(.*) $0 [L]
# everything else must go to the app
RewriteRule ^(.*)$ index.php [L]

