body {
  background: #eeeeee;
}
.navbar {
	background-color: #D9E2E9;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.email-table {
	margin-top: 50px;
	background: white;
}

.email-table .title-header {
	font-weight: bold;
	color: #fff;
	background: #7C96AB;
	padding: 10px;
	border: 1px solid #7C96AB;
}

.email-table .email-header {
	font-weight: bold;
	border-top: 5px solid #7C96AB;
	border-bottom: 1px solid #7C96AB;
	padding: 10px
}

.email-table .email-text {
	overflow: hidden;

}

.info-list {
	margin: 0 0 21px;
	border-bottom: 1px solid #ccc;
	padding: 0 0 16px;
	color: #999;
	overflow: hidden;
}

.info-list dt {
	float: left;
	color: #666;
	margin: 0 3px 0 0;
}

.info-list dd {
	display: block;
	overflow: hidden;
}

footer p {
  margin-top: 50px;
  text-align: center;
}


.nobr { white-space: nowrap }

.followMeBar {
	background: white;
	position: relative;
	z-index: 1;
}
.followMeBar.fixed {
	background: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2000;
}
.followMeBar.fixed.absolute {
	position: absolute;
}
