{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="starter-template">
		<h1>{{address}}</h1>
		<p class="lead">Waiting for emails... </p>
		<p><br/><img src="{{ baseUrl() }}/assets/spinner.gif"/><br/></p>
		<p class="lead">Emails to {{address}} will be automatically displayed on this page. </p>
	</div>
</div>

<script>
	function checkMails() {	
		$.ajax({
			url: "{{urlFor('mailcount', {'name':name})}}",
			})
			.done(function( data ) {
				var count = parseInt(data);
				if(count>0) {
					location.reload();
				}
		});
	};
	 $(document).ready(function() {
		setInterval(checkMails, 5000); 
	 });
</script>

{%endblock%}